In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [7]:
data=pd.read_csv('Churn_Modelling.csv')

In [8]:
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [9]:
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [11]:
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [12]:
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France       0  ...               1        101348.88       1
1          608     Spain       0  ...               1        112542.58       0
2          502    France       0  ...               0        113931.57       1
3          699    France       0  ...               0         93826.63       0
4          850     Spain       0  ...               1         79084.10       0

[5 rows x 11 columns]

In [17]:
onehot_encoder_geo=OneHotEncoder(handle_unknown='ignore')
geo_encoded=onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df= pd.DataFrame(geo_encoded,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

In [18]:
geo_encoded_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [19]:
data=data.drop(['Geography'],axis=1)

In [23]:
data=pd.concat([data,geo_encoded_df],axis=1)

In [24]:
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [27]:
X=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [28]:
with open('label_encoder_gender.pkl','wb') as f:
    pickle.dump(label_encoder_gender,f)
with open('onehot_encoder_geo.pkl','wb') as f:
    pickle.dump(onehot_encoder_geo,f)
with open('scalerReg.pkl','wb') as f:
    pickle.dump(scaler,f)

ANN

In [32]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [35]:
Sequential_model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1)
])

/Users/harshkumar/Desktop/Main/Projects/Classification DL ANN/venv1/lib/python3.11/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [37]:
Sequential_model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

In [39]:
Sequential_model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [41]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime
log_dir="logsRegression/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [42]:
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True)

In [44]:
history=Sequential_model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 654us/step - loss: 99849.0625 - mae: 99849.0625 - val_loss: 98476.3047 - val_mae: 98476.3047
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 386us/step - loss: 100927.1484 - mae: 100927.1484 - val_loss: 96668.9219 - val_mae: 96668.9219
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 375us/step - loss: 96988.9375 - mae: 96988.9375 - val_loss: 92080.9688 - val_mae: 92080.9688
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 375us/step - loss: 92132.7266 - mae: 92132.7266 - val_loss: 84615.7344 - val_mae: 84615.7344
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 392us/step - loss: 84186.3984 - mae: 84186.3984 - val_loss: 75319.7812 - val_mae: 75319.7812
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 592us/step - loss: 74593.6172 - mae: 74593.6172 - val_loss: 66150.7344 - val_mae: 66150.7344
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 390us/step - loss: 65243.0703 - mae: 65243.0703 - val_loss: 58802.8516 - val_mae: 58802.8516
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 386us/step - loss: 57780.8828 - mae: 57780.8828 - val_loss: 54220.0000 - val_mae: 54220.0000
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 386us/step - loss: 53354.1016 - mae: 53354.1016 - val_loss: 52002.2695 - val_mae: 52002.2695
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 417us/step - loss: 51585.8867 - mae: 51585.8867 - val_loss: 51220.7383 - val_mae: 51220.7383
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 394us/step - loss: 51104.4219 - mae: 51104.4219 - val_loss: 50956.7617 - val_mae: 50956.7617
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 388us/step - loss: 50557.7031 - mae: 50557.7031 - val_loss: 50845.3125 - val_mae: 50845.3125
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 378us/step - loss: 49900.7227 - mae: 49900.7227 - val_loss: 50775.0625 - val_mae: 50775.0625
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 382us/step - loss: 50538.3438 - mae: 50538.3438 - val_loss: 50718.2422 - val_mae: 50718.2422
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 378us/step - loss: 50057.1445 - mae: 50057.1445 - val_loss: 50671.2773 - val_mae: 50671.2773
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 378us/step - loss: 50143.6641 - mae: 50143.6641 - val_loss: 50629.3086 - val_mae: 50629.3086
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 373us/step - loss: 49997.4453 - mae: 49997.4453 - val_loss: 50593.8398 - val_mae: 50593.8398
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 373us/step - loss: 50032.7539 - mae: 50032.7539 - val_loss: 50559.0195 - val_mae: 50559.0195
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 371us/step - loss: 50247.6289 - mae: 50247.6289 - val_loss: 50531.8633 - val_mae: 50531.8633
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 373us/step - loss: 50331.2500 - mae: 50331.2500 - val_loss: 50509.7383 - val_mae: 50509.7383
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 372us/step - loss: 49550.6719 - mae: 49550.6719 - val_loss: 50484.2891 - val_mae: 50484.2891
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 370us/step - loss: 49996.7539 - mae: 49996.7539 - val_loss: 50471.4297 - val_mae: 50471.4297
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 372us/step - loss: 49432.4883 - mae: 49432.4883 - val_loss: 50451.3008 - val_mae: 50451.3008
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 376us/step - loss: 49482.2461 - mae: 49482.2461 - val_loss: 50428.2734 - val_mae: 50428.2734
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 374us/step - loss: 49699.9258 - mae: 49699.9258 - val_loss: 50412.1055 - val_mae: 50412.1055
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 374us/step - loss: 49249.0273 - mae: 49249.0273 - val_loss: 50389.7852 - val_mae: 50389.7852
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 406us/step - loss: 49695.7656 - mae: 49695.7656 - val_loss: 50395.4688 - val_mae: 50395.4688
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 372us/step - loss: 49828.3477 - mae: 49828.3477 - val_loss: 50378.4805 - val_mae: 50378.4805
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 373us/step - loss: 49557.5273 - mae: 49557.5273 - val_loss: 50379.1250 - val_mae: 50379.1250
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 372us/step - loss: 50702.4258 - mae: 50702.4258 - val_loss: 50367.2930 - val_mae: 50367.2930
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 373us/step - loss: 49748.7930 - mae: 49748.7930 - val_loss: 50357.1758 - val_mae: 50357.1758
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 371us/step - loss: 49258.4453 - mae: 49258.4453 - val_loss: 50361.8164 - val_mae: 50361.8164
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 372us/step - loss: 49046.7500 - mae: 49046.7500 - val_loss: 50347.9258 - val_mae: 50347.9258
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 374us/step - loss: 49981.1094 - mae: 49981.1094 - val_loss: 50350.3984 - val_mae: 50350.3984
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 372us/step - loss: 49483.2539 - mae: 49483.2539 - val_loss: 50344.1562 - val_mae: 50344.1562
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 372us/step - loss: 49498.9922 - mae: 49498.9922 - val_loss: 50340.7891 - val_mae: 50340.7891
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 369us/step - loss: 50130.4805 - mae: 50130.4805 - val_loss: 50341.6445 - val_mae: 50341.6445
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 371us/step - loss: 49752.6289 - mae: 49752.6289 - val_loss: 50340.0742 - val_mae: 50340.0742
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 370us/step - loss: 49707.1367 - mae: 49707.1367 - val_loss: 50339.5156 - val_mae: 50339.5156
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 376us/step - loss: 49928.2383 - mae: 49928.2383 - val_loss: 50335.3047 - val_mae: 50335.3047
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 370us/step - loss: 49655.8477 - mae: 49655.8477 - val_loss: 50332.0508 - val_mae: 50332.0508
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 372us/step - loss: 49531.3281 - mae: 49531.3281 - val_loss: 50329.4062 - val_mae: 50329.4062
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 372us/step - loss: 49496.7070 - mae: 49496.7070 - val_loss: 50323.3711 - val_mae: 50323.3711
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 400us/step - loss: 49472.0430 - mae: 49472.0430 - val_loss: 50319.2227 - val_mae: 50319.2227
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 372us/step - loss: 49012.4141 - mae: 49012.4141 - val_loss: 50331.6602 - val_mae: 50331.6602
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 373us/step - loss: 49813.6797 - mae: 49813.6797 - val_loss: 50321.0078 - val_mae: 50321.0078
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 371us/step - loss: 49410.7031 - mae: 49410.7031 - val_loss: 50312.3711 - val_mae: 50312.3711
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 373us/step - loss: 50305.7227 - mae: 50305.7227 - val_loss: 50309.3672 - val_mae: 50309.3672
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 370us/step - loss: 49185.2891 - mae: 49185.2891 - val_loss: 50316.1875 - val_mae: 50316.1875
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 370us/step - loss: 49179.1328 - mae: 49179.1328 - val_loss: 50317.2109 - val_mae: 50317.2109
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 371us/step - loss: 49143.4023 - mae: 49143.4023 - val_loss: 50306.6523 - val_mae: 50306.6523
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 371us/step - loss: 49385.0703 - mae: 49385.0703 - val_loss: 50317.9961 - val_mae: 50317.9961
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 374us/step - loss: 49943.9258 - mae: 49943.9258 - val_loss: 50310.9414 - val_mae: 50310.9414
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 370us/step - loss: 49263.2344 - mae: 49263.2344 - val_loss: 50319.5898 - val_mae: 50319.5898
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 371us/step - loss: 49076.1211 - mae: 49076.1211 - val_loss: 50322.3047 - val_mae: 50322.3047
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 384us/step - loss: 48960.2422 - mae: 48960.2422 - val_loss: 50319.8594 - val_mae: 50319.8594

In [46]:
Sequential_model.save('churn_modelRegression.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [47]:
%load_ext tensorboard

In [50]:
%tensorboard --logdir logsRegression/fit/

Reusing TensorBoard on port 6020 (pid 25164), started 0:00:19 ago. (Use '!kill 25164' to kill it.)

In [52]:
## Evaluate the model
test_loss, test_mae = Sequential_model.evaluate(X_test, y_test)
print(f'Test MAE: {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - loss: 51087.1719 - mae: 51087.1719
Test MAE: 50306.65234375